<a href="https://colab.research.google.com/github/Toto17515/Data_viz/blob/main/DataViz_Midterm_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import

Import Library

In [ ]:
import pandas as pd

Import Data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#นำเข้าข้อมูลคะแนนในชั้นเรียน
classroom = pd.read_excel('/content/drive/MyDrive/Data_Viz/Midterm Basic python/Project1-StuList-1-63-ตัดเกรด_renamed.xlsx',sheet_name='Grade',skiprows=1)
classroom.head()

   Unnamed: 0   Unnamed: 1  ... Unnamed: 23 Unnamed: 24
0           1  603020450-3  ...       จำนวน      ร้อยละ
1           2  603020451-1  ...           0           0
2           3  603020452-9  ...           0           0
3           4  603020453-7  ...           0           0
4           5  603020458-7  ...           0           0

[5 rows x 25 columns]

In [ ]:
#นำเข้าข้อมูลคะแนนอาจารย์ที่ปรึกษา ดร.ธิปไตย
Advisor1 = pd.read_excel('/content/drive/MyDrive/Data_Viz/Midterm Basic python/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx',sheet_name='ดร.ธิปไตย',skiprows=1)
#นำเข้าข้อมูลคะแนนอาจารย์ที่ปรึกษา รศ.ธิดาเดียว
Advisor2 = pd.read_excel('/content/drive/MyDrive/Data_Viz/Midterm Basic python/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx',sheet_name='รศ.ธิดาเดียว',skiprows=1)
#นำเข้าข้อมูลคะแนนอาจารย์ที่ปรึกษา ผศ.สุกัญญา
Advisor3 = pd.read_excel('/content/drive/MyDrive/Data_Viz/Midterm Basic python/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx',sheet_name='ผศ.สุกัญญา',skiprows=1)
#นำเข้าข้อมูลคะแนนอาจารย์ที่ปรึกษา ดร.ธนพงศ์
Advisor4 = pd.read_excel('/content/drive/MyDrive/Data_Viz/Midterm Basic python/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx',sheet_name='ดร.ธนพงศ์',skiprows=1)
#นำเข้าข้อมูลคะแนนอาจารย์ที่ปรึกษา ผศ.วุฒิชัย
Advisor5 = pd.read_excel('/content/drive/MyDrive/Data_Viz/Midterm Basic python/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx',sheet_name='ผศ.วุฒิชัย',skiprows=1)
#นำเข้าข้อมูลคะแนนอาจารย์ที่ปรึกษา รศ.สุพรรณี
Advisor6 = pd.read_excel('/content/drive/MyDrive/Data_Viz/Midterm Basic python/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx',sheet_name='รศ.สุพรรณี',skiprows=1)
#นำเข้าข้อมูลคะแนนอาจารย์ที่ปรึกษา อ.ยุภาพร
Advisor7 = pd.read_excel('/content/drive/MyDrive/Data_Viz/Midterm Basic python/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx',sheet_name='อ.ยุภาพร',skiprows=1)
#นำเข้าข้อมูลคะแนนอาจารย์ที่ปรึกษา ดร.พลากร
Advisor8 = pd.read_excel('/content/drive/MyDrive/Data_Viz/Midterm Basic python/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx',sheet_name='ดร.พลากร',skiprows=1)
#นำเข้าข้อมูลคะแนนอาจารย์ที่ปรึกษา รศ.วิชุดา
Advisor9 = pd.read_excel('/content/drive/MyDrive/Data_Viz/Midterm Basic python/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx',sheet_name='รศ.วิชุดา',skiprows=1)
#นำเข้าข้อมูลคะแนนอาจารย์ที่ปรึกษา ดร.วรรณพร
Advisor10 = pd.read_excel('/content/drive/MyDrive/Data_Viz/Midterm Basic python/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx',sheet_name='ดร.วรรณพร',skiprows=1)
#นำเข้าข้อมูลคะแนนอาจารย์ที่ปรึกษา อ.ธรรณญพร
Advisor11 = pd.read_excel('/content/drive/MyDrive/Data_Viz/Midterm Basic python/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx',sheet_name='อ.ธรรณญพร',skiprows=1)
#นำเข้าข้อมูลคะแนนอาจารย์ที่ปรึกษา ดร.อุทุมพร
Advisor12 = pd.read_excel('/content/drive/MyDrive/Data_Viz/Midterm Basic python/คะแนนอาจารย์ที่ปรึกษา_renamed.xlsx',sheet_name='ดร.อุทุมพร',skiprows=1)

In [ ]:
#นำเข้าข้อมูลนำเสนอปากเปล่าจากกรรมการ วันจันทร์ที่ 7 ธันวาคม 2563
present_Day1 = pd.read_excel('/content/drive/MyDrive/Data_Viz/Midterm Basic python/คะแนนสอบปากเปล่าของกรรมการสอบ_renamed.xlsx',sheet_name='วันจันทร์ที่ 7 ธันวาคม 2563',skiprows=1)
#นำเข้าข้อมูลนำเสนอปากเปล่าจากกรรมการ วันอังคารที่ 8 ธันวาคม 2563
present_Day2 = pd.read_excel('/content/drive/MyDrive/Data_Viz/Midterm Basic python/คะแนนสอบปากเปล่าของกรรมการสอบ_renamed.xlsx',sheet_name='วันอังคารที่ 8 ธันวาคม 2563',skiprows=1)
#นำเข้าข้อมูลนำเสนอปากเปล่าจากกรรมการ วันพุธที่ 9 ธันวาคม 2563
present_Day3 = pd.read_excel('/content/drive/MyDrive/Data_Viz/Midterm Basic python/คะแนนสอบปากเปล่าของกรรมการสอบ_renamed.xlsx',sheet_name='วันพุธที่ 9 ธันวาคม 2563',skiprows=1)

#Data Cleansing

##ข้อมูลชุดที่ 1

In [ ]:
classroom.head() #เรียกดูข้อมูล

   Unnamed: 0   Unnamed: 1  ... Unnamed: 23 Unnamed: 24
0           1  603020450-3  ...       จำนวน      ร้อยละ
1           2  603020451-1  ...           0           0
2           3  603020452-9  ...           0           0
3           4  603020453-7  ...           0           0
4           5  603020458-7  ...           0           0

[5 rows x 25 columns]

In [ ]:
#ข้อมูลของนักศึกษา ที่เป็น QC
None_QC = list()
for each_row in classroom.iterrows():
  if each_row[1]["ส่งไฟล์Gantt"] != 'QC':
    None_QC.append(True)
  else:
    None_QC.append(False)
classroom_None_QC = classroom[None_QC]
classroom_None_QC

    Unnamed: 0   Unnamed: 1  ... Unnamed: 23 Unnamed: 24
0            1  603020450-3  ...       จำนวน      ร้อยละ
1            2  603020451-1  ...           0           0
2            3  603020452-9  ...           0           0
3            4  603020453-7  ...           0           0
5            6  603020460-0  ...           0           0
..         ...          ...  ...         ...         ...
83          84  603021885-3  ...         NaN         NaN
84          85  603021886-1  ...         NaN         NaN
85          86  603021888-7  ...         NaN         NaN
86          87  603021889-5  ...         NaN         NaN
87          88          NaN  ...         NaN         NaN

[80 rows x 25 columns]

In [ ]:
Scores1 = classroom_None_QC[['Unnamed: 2',1]]#เลือกเฉพาะข้อมูลที่สนใจ 
Scores1

                   Unnamed: 2       1
0     cozy-tangerine-ladybird  10.000
1        leaky-rust-chameleon   9.375
2       nerdy-plum-abyssinian  10.000
3        scaly-pumpkin-monkey  10.000
5   gloppy-persimmon-flamingo   8.375
..                        ...     ...
83           randy-mauve-ibis   7.750
84         messy-white-toucan   8.750
85         gummy-olivine-ibis  10.000
86    skanky-amaranth-ostrich   8.750
87         frumpy-gamboge-emu   7.125

[80 rows x 2 columns]

In [ ]:
Scores_Classroom = Scores1.rename(columns={'Unnamed: 2': 'Name',1:'Classroom'})  #เปลี่ยนชื่อ Column
Scores_Classroom

                         Name  Classroom
0     cozy-tangerine-ladybird     10.000
1        leaky-rust-chameleon      9.375
2       nerdy-plum-abyssinian     10.000
3        scaly-pumpkin-monkey     10.000
5   gloppy-persimmon-flamingo      8.375
..                        ...        ...
83           randy-mauve-ibis      7.750
84         messy-white-toucan      8.750
85         gummy-olivine-ibis     10.000
86    skanky-amaranth-ostrich      8.750
87         frumpy-gamboge-emu      7.125

[80 rows x 2 columns]

In [ ]:
Scores_Classroom.isnull().sum() #ไม่พบ Missing Value

Name         0
Classroom    0
dtype: int64

##ข้อมูลชุดที่ 2

In [ ]:
#เรียกดูข้อมูล
Advisor1.head()

             Unnamed: 0  ...                                        Unnamed: 12
0                   NaN  ...                                                NaN
1  leaky-rust-chameleon  ...  1.การศึกษาแนวทางการประกันภัยพืชผลสำหรับมันสำปะ...
2    greasy-ruby-bombay  ...                                                NaN
3   wiggy-silver-drever  ...  2.การศึกษาการทำประกันภัยพืชผลจากภัยแล้งโดยใช้ค...
4       stinky-red-chow  ...                                                NaN

[5 rows x 13 columns]

In [ ]:
#ทำการตัดแถวแรก
Advisor1.drop(index= 0, inplace= True)
Advisor2.drop(index= 0, inplace= True)
Advisor3.drop(index= 0, inplace= True)
Advisor4.drop(index= 0, inplace= True)
Advisor5.drop(index= 0, inplace= True)
Advisor6.drop(index= 0, inplace= True)
Advisor7.drop(index= 0, inplace= True)
Advisor8.drop(index= 0, inplace= True)
Advisor9.drop(index= 0, inplace= True)
Advisor10.drop(index= 0, inplace= True)
Advisor11.drop(index= 0, inplace= True)
Advisor12.drop(index= 0, inplace= True)

In [ ]:
#ทำการเลือกเฉพาะ Column ที่สนใจ
Advisor_1 = Advisor1[['Unnamed: 0','รวม']]
Advisor_2 = Advisor2[['Unnamed: 0','รวม']]
Advisor_3 = Advisor3[['Unnamed: 0','รวม']]
Advisor_4 = Advisor4[['Unnamed: 0','รวม']]
Advisor_5 = Advisor5[['Unnamed: 0','รวม']]
Advisor_6 = Advisor6[['Unnamed: 0','รวม']]
Advisor_7 = Advisor7[['Unnamed: 0','รวม']]
Advisor_8 = Advisor8[['Unnamed: 0','รวม']]
Advisor_9 = Advisor9[['Unnamed: 0','รวม']]
Advisor_10 = Advisor10[['Unnamed: 0','รวม']]
Advisor_11 = Advisor11[['Unnamed: 0','รวม']]
Advisor_12 = Advisor12[['Unnamed: 0','รวม']]

In [ ]:
#เรียกดูข้อมูล
Advisor_1.head()

             Unnamed: 0  รวม
1  leaky-rust-chameleon   68
2    greasy-ruby-bombay   61
3   wiggy-silver-drever   67
4       stinky-red-chow   67
5  bumpy-indigo-dolphin   67

In [ ]:
#หาค่า Missing Value
Advisor_1.isnull().sum() #ไม่พบ missing Value

Unnamed: 0    0
รวม           0
dtype: int64

In [ ]:
#หาค่า Missing Value
Advisor_2.isnull().sum() #ไม่พบ missing Value

Unnamed: 0    0
รวม           0
dtype: int64

In [ ]:
#หาค่า Missing Value
Advisor_3.isnull().sum() #ไม่พบ missing Value

Unnamed: 0    0
รวม           0
dtype: int64

In [ ]:
#หาค่า Missing Value
Advisor_4.isnull().sum() #ไม่พบ missing Value

Unnamed: 0    0
รวม           0
dtype: int64

In [ ]:
#หาค่า Missing Value
Advisor_5.isnull().sum() #ไม่พบ missing Value

Unnamed: 0    0
รวม           0
dtype: int64

In [ ]:
#หาค่า Missing Value
Advisor_6.isnull().sum() #ไม่พบ missing Value

Unnamed: 0    0
รวม           0
dtype: int64

In [ ]:
#หาค่า Missing Value
Advisor_7.isnull().sum() #ไม่พบ missing Value

Unnamed: 0    0
รวม           0
dtype: int64

In [ ]:
#หาค่า Missing Value
Advisor_8.isnull().sum() #ไม่พบ missing Value

Unnamed: 0    0
รวม           0
dtype: int64

In [ ]:
#หาค่า Missing Value
Advisor_9.isnull().sum() #ไม่พบ missing Value

Unnamed: 0    0
รวม           0
dtype: int64

In [ ]:
#หาค่า Missing Value
Advisor_10.isnull().sum() #ไม่พบ missing Value

Unnamed: 0    0
รวม           0
dtype: int64

In [ ]:
#หาค่า Missing Value
Advisor_11.isnull().sum() #ไม่พบ missing Value

Unnamed: 0    0
รวม           0
dtype: int64

In [ ]:
#หาค่า Missing Value
Advisor_12.isnull().sum() #พบ missing Value

Unnamed: 0    2
รวม           2
dtype: int64

แก้ missing value ของ Advisor_12

In [ ]:
#เรียกดูข้อมูล
Advisor_12

                 Unnamed: 0   รวม
1       chummy-azure-walrus  68.0
2         breezy-pear-macaw  69.0
3   cozy-tangerine-ladybird  62.0
4      scaly-pumpkin-monkey  62.0
5  scanty-razzmatazz-rabbit  65.0
6        grumpy-flax-bonobo  65.0
7                       NaN   NaN
8                       NaN   NaN

In [ ]:
#ไม่มีรายชื่อนักศึกษา ทำการตัดแถวที่เป็นค่าว่างออก
Advisor_12.dropna(inplace= True)
Advisor_12

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                 Unnamed: 0   รวม
1       chummy-azure-walrus  68.0
2         breezy-pear-macaw  69.0
3   cozy-tangerine-ladybird  62.0
4      scaly-pumpkin-monkey  62.0
5  scanty-razzmatazz-rabbit  65.0
6        grumpy-flax-bonobo  65.0

In [ ]:
#ทำการรวมไฟล์
ScoresAdvisor = pd.concat([Advisor_1,Advisor_2,Advisor_3,Advisor_4,Advisor_5,Advisor_6,Advisor_7,Advisor_8,Advisor_9,Advisor_10,Advisor_11,Advisor_12])
ScoresAdvisor

                  Unnamed: 0   รวม
1       leaky-rust-chameleon  68.0
2         greasy-ruby-bombay  61.0
3        wiggy-silver-drever  67.0
4            stinky-red-chow  67.0
5       bumpy-indigo-dolphin  67.0
..                       ...   ...
2          breezy-pear-macaw  69.0
3    cozy-tangerine-ladybird  62.0
4       scaly-pumpkin-monkey  62.0
5   scanty-razzmatazz-rabbit  65.0
6         grumpy-flax-bonobo  65.0

[80 rows x 2 columns]

In [ ]:
#ทำการเปลี่ยนชื่อ column
Scores_Advisor  = ScoresAdvisor .rename(columns={'Unnamed: 0': 'Name','รวม':'Advisor'})  #เปลี่ยนชื่อ Column
Scores_Advisor

                        Name  Advisor
1       leaky-rust-chameleon     68.0
2         greasy-ruby-bombay     61.0
3        wiggy-silver-drever     67.0
4            stinky-red-chow     67.0
5       bumpy-indigo-dolphin     67.0
..                       ...      ...
2          breezy-pear-macaw     69.0
3    cozy-tangerine-ladybird     62.0
4       scaly-pumpkin-monkey     62.0
5   scanty-razzmatazz-rabbit     65.0
6         grumpy-flax-bonobo     65.0

[80 rows x 2 columns]

##ข้อมูลชุดที่ 3

In [ ]:
#เรียกดูข้อมูล
present_Day1.head()

   ห้องสอบ              เวลา  ... ความถูกต้องของเนื้อหาในเล่มรายงาน รวม
0      NaN               NaN  ...                                10  70
1  SC 6501  08:00 – 10.00 น.  ...                                 6  52
2      NaN               NaN  ...                                 6  50
3      NaN               NaN  ...                                 8  60
4      NaN               NaN  ...                                 8  58

[5 rows x 13 columns]

In [ ]:
#ทำการตัดแถวแรก 
present_Day1.drop(index= 0, inplace= True)
present_Day2.drop(index= 0, inplace= True)
present_Day3.drop(index= 0, inplace= True)

In [ ]:
#เรียกดูข้อมูล
present_Day1.head()

   ห้องสอบ              เวลา  ... ความถูกต้องของเนื้อหาในเล่มรายงาน รวม
1  SC 6501  08:00 – 10.00 น.  ...                                 6  52
2      NaN               NaN  ...                                 6  50
3      NaN               NaN  ...                                 8  60
4      NaN               NaN  ...                                 8  58
5      NaN  10:00 – 12.00 น.  ...                                 7  52

[5 rows x 13 columns]

In [ ]:
#แก้ missing value ของ กรรมการสอบ
present_Day_1 = present_Day1.fillna(method='ffill')
present_Day_2 = present_Day2.fillna(method='ffill')
present_Day_3 = present_Day3.fillna(method='ffill')

In [ ]:
#เรียกดูข้อมูล
present_Day_1.head()

   ห้องสอบ              เวลา  ... ความถูกต้องของเนื้อหาในเล่มรายงาน รวม
1  SC 6501  08:00 – 10.00 น.  ...                                 6  52
2  SC 6501  08:00 – 10.00 น.  ...                                 6  50
3  SC 6501  08:00 – 10.00 น.  ...                                 8  60
4  SC 6501  08:00 – 10.00 น.  ...                                 8  58
5  SC 6501  10:00 – 12.00 น.  ...                                 7  52

[5 rows x 13 columns]

In [ ]:
#เลือกเฉพาะ Column ที่สนใจ
presentDay1 = present_Day_1[['นักศึกษา','กรรมการสอบ','รวม']]
presentDay2 = present_Day_2[['นักศึกษา','กรรมการสอบ','รวม']]
presentDay3 = present_Day_3[['นักศึกษา','กรรมการสอบ','รวม']]

In [ ]:
#เรียกดูข้อมูล
present_Day_1.head()

   ห้องสอบ              เวลา  ... ความถูกต้องของเนื้อหาในเล่มรายงาน รวม
1  SC 6501  08:00 – 10.00 น.  ...                                 6  52
2  SC 6501  08:00 – 10.00 น.  ...                                 6  50
3  SC 6501  08:00 – 10.00 น.  ...                                 8  60
4  SC 6501  08:00 – 10.00 น.  ...                                 8  58
5  SC 6501  10:00 – 12.00 น.  ...                                 7  52

[5 rows x 13 columns]

In [ ]:
#ทำการรวมไฟล์
Scores_present = pd.concat([presentDay1,presentDay2,presentDay3])
Scores_present

                       นักศึกษา  กรรมการสอบ  รวม
1          leaky-rust-chameleon  ผศ.วุฒิชัย   52
2            greasy-ruby-bombay  ผศ.วุฒิชัย   50
3          leaky-rust-chameleon    อ.ยุภาพร   60
4            greasy-ruby-bombay    อ.ยุภาพร   58
5           wiggy-silver-drever  ผศ.วุฒิชัย   52
..                          ...         ...  ...
50         muggy-charcoal-akita  ผศ.วุฒิชัย   52
51  stinky-wisteria-nightingale   รศ.วิชุดา   57
52            hazy-aqua-peccary   รศ.วิชุดา   57
53  stinky-wisteria-nightingale   ดร.ธนพงศ์   59
54            hazy-aqua-peccary   ดร.ธนพงศ์   59

[160 rows x 3 columns]

#Calculation

In [ ]:
#ปรับ Z-score
def cal_adjusted_score(z_score):
    return round(30 + ((-15*(z_score-2.3103448275862064))/(-4.788052880847054)),2)

In [ ]:
#คำนวน Mean ของกรรมการคุมสอบ
mean = Scores_present.groupby('กรรมการสอบ').mean()
mean

                    รวม
กรรมการสอบ
ดร.ธนพงศ์     55.769231
ดร.ธิปไตย     58.100000
ดร.พลากร      56.538462
ดร.วรรณพร     54.875000
ดร.อุทุมพร    53.266667
ผศ.วุฒิชัย    53.692308
ผศ.สุกัญญา    46.625000
รศ.ธิดาเดียว  54.230769
รศ.วิชุดา     54.400000
รศ.สุพรรณี    50.727273
อ.ธรรณญพร     52.785714
อ.ยุภาพร      55.375000

In [ ]:
#คำนวนส่วนเบี่ยงเบนมาตรฐานของกรรมการคุมสอบ
std = Scores_present.groupby('กรรมการสอบ').std()
std

                    รวม
กรรมการสอบ
ดร.ธนพงศ์      4.867474
ดร.ธิปไตย      3.034981
ดร.พลากร       3.256158
ดร.วรรณพร      1.892969
ดร.อุทุมพร     5.812138
ผศ.วุฒิชัย     4.643716
ผศ.สุกัญญา    19.434934
รศ.ธิดาเดียว   5.629592
รศ.วิชุดา      2.458545
รศ.สุพรรณี     8.661304
อ.ธรรณญพร      7.953505
อ.ยุภาพร       6.417424

In [ ]:
#คำนวนค่า Z-score
list_ZScore = list()
for i in Scores_present.iterrows():
 if i[1]['กรรมการสอบ'] == 'ดร.ธนพงศ์':
   list_ZScore.append((i[1]['รวม']-55.769231)/4.867474)
 if i[1]['กรรมการสอบ'] == 'ดร.ธิปไตย':
   list_ZScore.append((i[1]['รวม']-58.100000)/3.034981)
 if i[1]['กรรมการสอบ'] == 'ดร.พลากร':
   list_ZScore.append((i[1]['รวม']-56.538462)/3.256158)
 if i[1]['กรรมการสอบ'] == 'ดร.วรรณพร':
   list_ZScore.append((i[1]['รวม']-54.875000)/1.892969)
 if i[1]['กรรมการสอบ'] == 'ดร.อุทุมพร':
   list_ZScore.append((i[1]['รวม']-53.266667)/5.812138)
 if i[1]['กรรมการสอบ'] == 'ผศ.วุฒิชัย':
   list_ZScore.append((i[1]['รวม']-53.692308)/4.643716)
 if i[1]['กรรมการสอบ'] == 'ผศ.สุกัญญา':
   list_ZScore.append((i[1]['รวม']-46.625000)/19.434934)
 if i[1]['กรรมการสอบ'] == 'รศ.ธิดาเดียว':
   list_ZScore.append((i[1]['รวม']-54.230769)/5.629592)
 if i[1]['กรรมการสอบ'] == 'รศ.วิชุดา':
   list_ZScore.append((i[1]['รวม']-54.400000)/2.458545)
 if i[1]['กรรมการสอบ'] == 'รศ.สุพรรณี':
   list_ZScore.append((i[1]['รวม']-50.727273)/8.661304)
 if i[1]['กรรมการสอบ'] == 'อ.ธรรณญพร':
   list_ZScore.append((i[1]['รวม']-52.785714)/7.953505)
 if i[1]['กรรมการสอบ'] == 'อ.ยุภาพร':
   list_ZScore.append((i[1]['รวม']-55.375000)/6.417424)
#เก็บค่า Z-Score ใน DataFrame
Scores_present['Z-Score'] = list_ZScore
Scores_present

                       นักศึกษา  กรรมการสอบ  รวม   Z-Score
1          leaky-rust-chameleon  ผศ.วุฒิชัย   52 -0.364430
2            greasy-ruby-bombay  ผศ.วุฒิชัย   50 -0.795119
3          leaky-rust-chameleon    อ.ยุภาพร   60  0.720694
4            greasy-ruby-bombay    อ.ยุภาพร   58  0.409043
5           wiggy-silver-drever  ผศ.วุฒิชัย   52 -0.364430
..                          ...         ...  ...       ...
50         muggy-charcoal-akita  ผศ.วุฒิชัย   52 -0.364430
51  stinky-wisteria-nightingale   รศ.วิชุดา   57  1.057536
52            hazy-aqua-peccary   รศ.วิชุดา   57  1.057536
53  stinky-wisteria-nightingale   ดร.ธนพงศ์   59  0.663747
54            hazy-aqua-peccary   ดร.ธนพงศ์   59  0.663747

[160 rows x 4 columns]

In [ ]:
#คำนวนคะแนนจาก Z-Score
Scores_present_New = list()
for j in Scores_present.iterrows():
  Scores_present_New.append(cal_adjusted_score(j[1]['Z-Score']))
#เก็บค่า Score ใน DataFrame
Scores_present['Present'] = Scores_present_New
Scores_present

                       นักศึกษา  กรรมการสอบ  รวม   Z-Score  Present
1          leaky-rust-chameleon  ผศ.วุฒิชัย   52 -0.364430    21.62
2            greasy-ruby-bombay  ผศ.วุฒิชัย   50 -0.795119    20.27
3          leaky-rust-chameleon    อ.ยุภาพร   60  0.720694    25.02
4            greasy-ruby-bombay    อ.ยุภาพร   58  0.409043    24.04
5           wiggy-silver-drever  ผศ.วุฒิชัย   52 -0.364430    21.62
..                          ...         ...  ...       ...      ...
50         muggy-charcoal-akita  ผศ.วุฒิชัย   52 -0.364430    21.62
51  stinky-wisteria-nightingale   รศ.วิชุดา   57  1.057536    26.08
52            hazy-aqua-peccary   รศ.วิชุดา   57  1.057536    26.08
53  stinky-wisteria-nightingale   ดร.ธนพงศ์   59  0.663747    24.84
54            hazy-aqua-peccary   ดร.ธนพงศ์   59  0.663747    24.84

[160 rows x 5 columns]

In [ ]:
#ทำการรวมคะแนนนำเสนอ
Scores_present1 = Scores_present.groupby('นักศึกษา')
Scores_Present = Scores_present1['Present'].sum()
type(Scores_Present)

pandas.core.series.Series

In [ ]:
#ทำการรวมคะแนนนำเสนอ
Scores_present1 = Scores_present.groupby('นักศึกษา')
Scores_Present = pd.DataFrame(Scores_present1['Present'].sum())
Scores_Present

                          Present
นักศึกษา
boozy-thistle-wildebeest    50.25
breezy-pear-macaw           48.37
bumpy-indigo-dolphin        43.64
chewy-lilac-shark           47.58
chewy-persimmon-catfish     43.70
...                           ...
ugly-harlequin-octopus      46.16
ugly-myrtle-walrus          43.60
whiny-peach-audemer         36.28
whiny-pear-otter            50.22
wiggy-silver-drever         40.78

[80 rows x 1 columns]

In [ ]:
Scores_Classroom

                         Name  Classroom
0     cozy-tangerine-ladybird     10.000
1        leaky-rust-chameleon      9.375
2       nerdy-plum-abyssinian     10.000
3        scaly-pumpkin-monkey     10.000
5   gloppy-persimmon-flamingo      8.375
..                        ...        ...
83           randy-mauve-ibis      7.750
84         messy-white-toucan      8.750
85         gummy-olivine-ibis     10.000
86    skanky-amaranth-ostrich      8.750
87         frumpy-gamboge-emu      7.125

[80 rows x 2 columns]

In [ ]:
Scores_Advisor

                        Name  Advisor
1       leaky-rust-chameleon     68.0
2         greasy-ruby-bombay     61.0
3        wiggy-silver-drever     67.0
4            stinky-red-chow     67.0
5       bumpy-indigo-dolphin     67.0
..                       ...      ...
2          breezy-pear-macaw     69.0
3    cozy-tangerine-ladybird     62.0
4       scaly-pumpkin-monkey     62.0
5   scanty-razzmatazz-rabbit     65.0
6         grumpy-flax-bonobo     65.0

[80 rows x 2 columns]

In [ ]:
#เปลี่ยนชื่อ
Scores_Present.rename(columns={'นักศึกษา': 'Name','Present':'Present'})
Scores_Present

                          Present
นักศึกษา
boozy-thistle-wildebeest    50.25
breezy-pear-macaw           48.37
bumpy-indigo-dolphin        43.64
chewy-lilac-shark           47.58
chewy-persimmon-catfish     43.70
...                           ...
ugly-harlequin-octopus      46.16
ugly-myrtle-walrus          43.60
whiny-peach-audemer         36.28
whiny-pear-otter            50.22
wiggy-silver-drever         40.78

[80 rows x 1 columns]

In [ ]:
#ทำการรวมไฟล์
Scores_Classroom['Advisor'] = Scores_Classroom['Name'].map(Scores_Advisor.set_index('Name')['Advisor'])
Scores_Classroom

                         Name  Classroom    Advisor
0     cozy-tangerine-ladybird     10.000  62.000000
1        leaky-rust-chameleon      9.375  68.000000
2       nerdy-plum-abyssinian     10.000  67.000000
3        scaly-pumpkin-monkey     10.000  62.000000
5   gloppy-persimmon-flamingo      8.375  65.000000
..                        ...        ...        ...
83           randy-mauve-ibis      7.750  63.000000
84         messy-white-toucan      8.750  61.384615
85         gummy-olivine-ibis     10.000  61.000000
86    skanky-amaranth-ostrich      8.750  55.000000
87         frumpy-gamboge-emu      7.125  45.230769

[80 rows x 3 columns]

In [ ]:
Scores_Present1

                          รวม   Z-Score  Present
นักศึกษา
boozy-thistle-wildebeest  115  1.506390    50.25
breezy-pear-macaw         112  0.908578    48.37
bumpy-indigo-dolphin      107 -0.601421    43.64
chewy-lilac-shark         111  0.655679    47.58
chewy-persimmon-catfish    95 -0.582416    43.70
...                       ...       ...      ...
ugly-harlequin-octopus    116  0.202428    46.16
ugly-myrtle-walrus         95 -0.615597    43.60
whiny-peach-audemer        97 -2.951176    36.28
whiny-pear-otter          116  1.501362    50.22
wiggy-silver-drever       100 -1.513645    40.78

[80 rows x 3 columns]

In [ ]:
Scores_Classroom['Present'] = Scores_Classroom['Name'].map(Scores_Present.set_index('นักศึกษา')['Present'])
Scores_Classroom
#ไม่สามารถรมกันได้เนื่องจากข้อมูลมาจากการgroup by

KeyError: ignored

In [ ]:
#ฟังก์ชั่นตัดเกรด 
def grade(score):
  if score <50:
    print(f'คนที่ได้คะแนน {score} ได้เกรด F')
  elif score <55:
    print(f'คนที่ได้คะแนน {score} ได้เกรด D')
  elif score <60:
    print(f'คนที่ได้คะแนน {score} ได้เกรด D+')
  elif score <65:
    print(f'คนที่ได้คะแนน {score} ได้เกรด C')
  elif score <70:
    print(f'คนที่ได้คะแนน {score} ได้เกรด B')
  elif score <75:
    print(f'คนที่ได้คะแนน {score} ได้เกรด B+')
  else :
    print(f'คนที่ได้คะแนน {score} ได้เกรด A')
    return(score)

In [ ]:
Project_Scores = Scores_Classroom['Classroom'] + Scores_Advisor['Advisor']
Project_Scores

0        NaN
1     77.375
1     75.375
1     72.375
1     76.375
       ...
83       NaN
84       NaN
85       NaN
86       NaN
87       NaN
Length: 154, dtype: float64

In [ ]:
pd.plotting.parallel_coordinates(df,'Name') #สร้างกราฟ

NameError: ignored

#Calculation2

เนื่องจากเวลาไม่พอต้องทำการแแก้คือ การแบ่งกลุ่มของอาจารย์ออกเป็นทั้งหมด 12 คน จากนั้นทำการหาค่า z-score  ของนักศึกษาที่ทำการสอบด้วย แล้วนำไปหาคะแนนรวมคู่ของอาจารย์โปรเจคที่ทำการสอบคู่เดียวกันมาบวกกันจะได้้้รวมชุดนักศึกษาทั้งหมด จากนั้นนำข้อมูลการให้คะแนนเเต่ละส่วน คือ ในห้อง จากอ.ที่ปรึกษา และการสอบมมารมกันด้วยการ .map() ทำการเก็บข้อมูลทั้งหมดของแต่ละคนมารวมกันใน datatFrame โดยสร้าง Column ใหม่ แล้วใช้ loop for ในการโยนฟังก์ชันคำนวณเกรดเข้าไปใน datFrame เกรดค่าเก็บไว้ใน column ที่สร้างขึ้นมาใหม่