<a href="https://colab.research.google.com/github/Toto17515/Data_viz/blob/main/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import

เรียกใช้งาน pandas

In [1]:
import pandas as pd

เชื่อมกับ google drive (mount กับ google drive)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

เรียกใช้ ตัวชี้ (เหมือน  windows)

In [3]:
import os

path = '/content/drive/MyDrive/Data_Viz'

เชื่อมไฟล์

In [4]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
print(covid_file_path) #ใส่ / ต่อด้วยชื่อ pm-18-jan-2021.csv

/content/drive/MyDrive/Data_Viz/pm-18-jan-2021.csv

ใช้ได้เหมือนกัน

In [5]:
a = path + '/pm-18-jan-2021.csv'
print(a)

/content/drive/MyDrive/Data_Viz/pm-18-jan-2021.csv

**load data to memory**

In [6]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

วิธีที่ง่ายกว่า
```
data_covid = pd.read_csv('/content/drive/MyDrive/Data_Viz/pm-18-jan-2021.csv')
```

#Pandas

In [7]:
data_covid.head(3) #เรียกดูแบบสั้น

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ

[3 rows x 10 columns]

In [8]:
data_covid.shape

(12423, 10)

####ชี้ค่าในตาราง

In [9]:
data_covid['province_of_isolation']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4              นนทบุรี
             ...
12418      สมุทรปราการ
12419      สมุทรปราการ
12420           ชลบุรี
12421           ชลบุรี
12422            ระยอง
Name: province_of_isolation, Length: 12423, dtype: object

In [10]:
data_covid['province_of_isolation'][4]

'นนทบุรี'

####.loc

In [11]:
data_covid.iloc[4,7]

'กรุงเทพมหานคร'

####Table slicing

ตัดมาเฉพาะ Column ที่ต้องการ

In [12]:
smaller_table =  data_covid[['announce_date','province_of_isolation','risk']]
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12418     1/18/2021  ...                                  สถานบันเทิง
12419     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421     1/18/2021  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 3 columns]

ตัดมาเฉพาะ row ที่ต้องการ

In [13]:
#แบบง่าย แต่นำไปใช้งานได้ยาก
data_covid.iloc[1:5,:] # มองเป็นแบบ array

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

In [14]:
#แบบง่าย แต่นำไปใช้งานได้ยาก
data_covid.iloc[1:5,5:7] # มองเป็นแบบ array

  nationality province_of_isolation
1       China         กรุงเทพมหานคร
2    Thailand                นครปฐม
3       China         กรุงเทพมหานคร
4       China               นนทบุรี

In [15]:
#แบบ advanced (ตัดแบบใช้ logic query)
data_covid[data_covid['province_of_onset']=='ขอนแก่น']

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

การชี้ค่าในตารางด้วย data_covid[x] x สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ


1.   ชื่อ column
2.   ใส่ row ที่ต้องการ (ใส่ list ทีมีขนาดเท่ากับจำนวนแถว แล้วบอกว่าเอาแถวไหนบ้าง โดยใช้ logical expression (``` True/False```))

In [16]:
eight_row_covid = data_covid.iloc[:8,:] #ตารางตัวอย่าง
eight_row_covid

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7    8     1/26/2020  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 10 columns]

In [17]:
eight_row_covid[[True,False,True,True,False,True,False,False]]

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

In [18]:
eight_row_covid['province_of_onset'] == 'กรุงเทพมหานคร' #สร้าง list ของ logical expression

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [19]:
eight_row_covid[eight_row_covid['province_of_onset'] == 'กรุงเทพมหานคร']

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[6 rows x 10 columns]

*Quiz*
หาจำนวนผู้ป่วยที่่เป็นคน "**คนต่างชาติเดินทางมาจากต่างประเทศ**"

In [20]:
data_covid[data_covid['risk'] == 'คนต่างชาติเดินทางมาจากต่างประเทศ'].shape[0]

155

####Missing Value

การจัดการ Missing Value


*   ลบ Record ที่เป็น Missing
*   แทนที่ ค่า missing ด้วยค่าที่เหมาะสม
*   ใช้ค่าจาก column อื่น

#####dropna

ลบ record (dropna)
missing = ```None``` ```NA``` (not autorized) ```NAN``` (not number)

In [45]:
this_data = data_covid[['sex','age','province_of_onset']]

In [52]:
print(this_data.shape)
print(this_data.dropna().shape)
print(data_covid.dropna().shape)

(12423, 3)
(8253, 3)
(6430, 10)

In [54]:
this_data.dropna(inplace=True) #อัพเดตตาราง

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [55]:
print(this_data.shape)

(8253, 3)

In [56]:
this_data = data_covid[['sex','age','province_of_onset']]
this_data.shape

(12423, 3)

In [58]:
this_data.dropna(subset=['age']).shape #เลือกเฉพาะตาราง

(8656, 3)

#####fillna

การแทนค่า missing ด้วยค่าอื่นที่เหมาะสม(```fillna```)

In [66]:
this_data = data_covid[['sex','age','province_of_onset']]

In [67]:
this_data.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [68]:
print(f"จำนวน record ก่อน drop missing ใน province {this_data.shape[0]}")
print(f"จำนวน record ก่อน drop missing ใน province {this_data.dropna(subset=['province_of_onset']).shape[0]}")

จำนวน record ก่อน drop missing ใน province 12423
จำนวน record ก่อน drop missing ใน province 10432

In [74]:
this_data_updated = this_data.fillna(value={'sex':'ไม่รู้','age':-1,'province_of_onset':'ไม่รู้'})
this_data_updated.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [77]:
this_data_updated[this_data_updated['sex']=='ไม่รู้']

          sex  age province_of_onset
4391   ไม่รู้ -1.0         สมุทรสาคร
4392   ไม่รู้ -1.0         สมุทรสาคร
4393   ไม่รู้ -1.0         สมุทรสาคร
4394   ไม่รู้ -1.0         สมุทรสาคร
4395   ไม่รู้ -1.0         สมุทรสาคร
...       ...  ...               ...
12405  ไม่รู้ -1.0            ไม่รู้
12406  ไม่รู้ -1.0            ไม่รู้
12407  ไม่รู้ -1.0            ไม่รู้
12408  ไม่รู้ -1.0            ไม่รู้
12409  ไม่รู้ -1.0            ไม่รู้

[2497 rows x 3 columns]

In [78]:
data_covid[this_data_updated['province_of_onset']=='ไม่รู้']

         No.  ...                                         risk
414      415  ...                                      สนามมวย
529      530  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
555      556  ...                                      สนามมวย
576      577  ...                                      สนามมวย
588      589  ...                         อยู่ระหว่างการสอบสวน
...      ...  ...                                          ...
12405  12406  ...                            Cluster สมุทรสาคร
12406  12407  ...                            Cluster สมุทรสาคร
12407  12408  ...                            Cluster สมุทรสาคร
12408  12409  ...                            Cluster สมุทรสาคร
12409  12410  ...                            Cluster สมุทรสาคร

[1991 rows x 10 columns]

In [79]:
this_data_updated['province_of_onset']=='ไม่รู้'

0        False
1        False
2        False
3        False
4        False
         ...
12418    False
12419    False
12420    False
12421    False
12422    False
Name: province_of_onset, Length: 12423, dtype: bool

####การวนลูป record

การวนลูป record ในตาราง (```iterrows```)

In [86]:
for each_row in this_data.iterrows():
  if each_row[1]['age'] == 20 and each_row[1]['province_of_onset'] == 'ขอนแก่น':
    print(each_row)

(9334, sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object)

#HW

####โจทย์

โจทย์
```
1. คำนวณอายุเฉลี่ยของผู้หญิงและผู้ชายของข้อมูลทั้งหมด
2. คำนวณอายุเฉลี่ยของผู้หญิงและผู้ชายของผู้ป่วยในจังหวัดขอนแก่น
```

####ฟังก์ชัน

In [37]:
def aver_age(sex,province_of_onset = 'All'):
  for i in range(len(data_covid)):
    if province_of_onset == 'All':
      if sex == data_covid['sex'][i]:
        if data_covid['age'][i] > 0:
          sum_age =+ data_covid['age'][i]
          n=+1
    else:
      if sex == data_covid['sex'][i]:
        if province_of_onset == data_covid['province_of_onset'][i]:
          if data_covid['age'][i] > 0:
            sum_age =+ data_covid['age'][i]
            n=+1
  return sum_age/n

####คำตอบ

#####ข้อที่ 1

```
ข้อที่ 1.1 คำนวณอายุเฉลี่ยของผู้หญิงของข้อมูลทั้งหมด
```

In [40]:
aver_age('หญิง')

27.0

```
ข้อที่ 1.1 คำนวณอายุเฉลี่ยของผู้ชายของข้อมูลทั้งหมด
```

In [41]:
aver_age('ชาย')

51.0

#####ข้อที่ 2

```
ข้อที่ 2.1 คำนวณอายุเฉลี่ยของผู้หญิงของผู้ป่วยในจังหวัดขอนแก่น
```

In [42]:
aver_age('หญิง','ขอนแก่น')

37.0

```
ข้อที่ 2.2 คำนวณอายุเฉลี่ยของผู้ชายของผู้ป่วยในจังหวัดขอนแก่น
```

In [43]:
aver_age('ชาย','ขอนแก่น')

12.0

####เฉลย

ตัดใช้ข้อมูลน้อยลง

In [31]:
this_data = data_covid[['sex','age','province_of_onset']]
this_data

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12418  หญิง  28.0       สมุทรปราการ
12419  หญิง  27.0       สมุทรปราการ
12420   ชาย  10.0            ชลบุรี
12421   ชาย  52.0            ชลบุรี
12422   ชาย  51.0             ระยอง

[12423 rows x 3 columns]

แบ่งเพศ

In [32]:
female = this_data[this_data['sex'] == 'หญิง']
female['age']

0        61.0
1        74.0
2        73.0
4        66.0
5        33.0
         ...
12413    16.0
12416    36.0
12417    29.0
12418    28.0
12419    27.0
Name: age, Length: 5199, dtype: float64

In [33]:
male = this_data[this_data['sex'] == 'ชาย']
male['age']

3        68.0
8        63.0
10       33.0
11       61.0
12        6.0
         ...
12414    32.0
12415    38.0
12420    10.0
12421    52.0
12422    51.0
Name: age, Length: 4727, dtype: float64

หาอายุเพศหญิงเฉลี่ยรวม

In [35]:
sum = 0
N = 0
for a in female['age']:
  if a > 0:
    sum += a
    N += 1
print(sum/N)

36.70788295640009

หาอายุเพศชายเฉลี่ยรวม

In [36]:
sum = 0
N = 0
for a in male['age']:
  if a > 0:
    sum += a
    N += 1
print(sum/N)

39.55682775996335