<a href="https://colab.research.google.com/github/Toto17515/Data_viz/blob/main/Pandas102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#import

In [2]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
data_covid = pd.read_csv('/content/drive/MyDrive/Data_Viz/pm-18-jan-2021.csv')

In [5]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

#Missing

##.isnull()

In [6]:
data_covid.isnull()

         No.  announce_date  ...  district_of_onset   risk
0      False          False  ...               True  False
1      False          False  ...               True  False
2      False          False  ...              False  False
3      False          False  ...               True  False
4      False          False  ...               True  False
...      ...            ...  ...                ...    ...
12418  False          False  ...              False  False
12419  False          False  ...              False  False
12420  False          False  ...              False  False
12421  False          False  ...              False  False
12422  False          False  ...              False  False

[12423 rows x 10 columns]

ใช้การตัดตารางเพื่อตัวสอบ (การใช้ .isnull() ต้องใช้กับ array เท่านั้น)

In [7]:
data_covid.iloc[:1,0].isnull()

0    False
Name: No., dtype: bool

###.any()

.any() เอาค่าความจริงภายในแต่ละ column มา ```OR``` กัน

In [8]:
data_covid.isnull().any()

No.                      False
announce_date            False
notification_date         True
sex                       True
age                       True
nationality               True
province_of_isolation     True
province_of_onset         True
district_of_onset         True
risk                      True
dtype: bool

###.all()

.any() เอาค่าความจริงภายในแต่ละ column มา ``` AND ``` กัน

In [9]:
data_covid.isnull().all()

No.                      False
announce_date            False
notification_date        False
sex                      False
age                      False
nationality              False
province_of_isolation    False
province_of_onset        False
district_of_onset        False
risk                     False
dtype: bool

#Data Frame

##การเพิ่ม

ต่อตารางแกน X  แกน Y 

* ต่อแกน y คือ เพิ่ม records (เพิ่มจำนวนข้อมูล)

* ต่อแกน x คือ เพิ่ม columns (เพิ่มรายละเอียดของข้อมูลหรือตีวแปร)

###Records

####สร้างข้อมูลเพิ่ม(for ex)

In [10]:
dataKK = data_covid[data_covid['province_of_onset']=='ขอนแก่น']
dataKK.head()

       No.  ...                                           risk
180    181  ...                                        สนามมวย
462    463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970  1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ

[5 rows x 10 columns]

In [11]:
dataUD = data_covid[data_covid['province_of_onset']=='อุดรธานี']
dataUD.head()

     No.  ...                                         risk
424  425  ...                                      สนามมวย
434  435  ...                                  สถานบันเทิง
471  472  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
883  884  ...                                  สถานบันเทิง
885  886  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[5 rows x 10 columns]

In [12]:
dataMS = data_covid[data_covid['province_of_onset']=='มหาสารคาม']
dataMS.head()

         No.  ...                                         risk
346      347  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
789      790  ...                                  สถานบันเทิง
6690    6691  ...                            Cluster สมุทรสาคร
10802  10803  ...                            Cluster สมุทรสาคร

[4 rows x 10 columns]

####.Concat()

ต่อแกน Y ```pd.concat()```

In [13]:
dataMYisan = pd.concat([dataKK,dataMS,dataUD])
dataMYisan

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
346      347  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
789      790  ...                                    สถานบันเทิง
6690    6691  ...                              Cluster สมุทรสาคร
10802  10803  ...                              Cluster สมุทรสาคร
424      425  ...                                        สนามมวย
434      435  ...                                    สถานบันเทิง
471      472  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
883      884  ...                                    สถานบันเทิง
885      886  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
941      942  ...                                    สถานบันเทิง
1059    1060  ...                  คนไทยเดินทางกลับจากต่างประเทศ
2013    2014  ...                  คนไทยเดินทางกลับจากต่างประเทศ
5810    5811  ...                              Cluster สมุทรสาคร
7433    7434  ...                                  Cluster ระยอง

[28 rows x 10 columns]

###Columns

ต่อแกน x
 
* จับสองตารางมาต่อกันเลย `.merge()`
* เลือกมาเฉพาะบาง Columns `.map()`

#####แยก column ออกจาก DataFrame (for ex)

In [14]:
data_provine = data_covid[['No.','announce_date','province_of_onset']]
data_provine.head()

   No. announce_date province_of_onset
0    1     1/12/2020     กรุงเทพมหานคร
1    2     1/17/2020     กรุงเทพมหานคร
2    3     1/22/2020            นครปฐม
3    4     1/22/2020     กรุงเทพมหานคร
4    5     1/24/2020     กรุงเทพมหานคร

In [15]:
data_human = data_covid[['No.','age','sex','nationality']]
data_human.head()

   No.   age   sex nationality
0    1  61.0  หญิง       China
1    2  74.0  หญิง       China
2    3  73.0  หญิง    Thailand
3    4  68.0   ชาย       China
4    5  66.0  หญิง       China

In [16]:
data_human2 = data_human.sort_values('age') #ทำการเรียงค่าตามcolumnที่กำหนด
data_human2

         No.   age   sex nationality
1987    1988  0.10   ชาย    Thailand
6477    6478  0.11  หญิง    Thailand
11497  11498  0.11   ชาย       Burma
1675    1676  0.30   ชาย       Japan
1075    1076  0.40   ชาย    Thailand
...      ...   ...   ...         ...
12405  12406   NaN   NaN         NaN
12406  12407   NaN   NaN         NaN
12407  12408   NaN   NaN         NaN
12408  12409   NaN   NaN         NaN
12409  12410   NaN   NaN         NaN

[12423 rows x 4 columns]

เปลี่ยนชื่อ Column

In [17]:
data_human2_rename = data_human2.rename(columns={'No.':'patientNumber'})
data_human2_rename

       patientNumber   age   sex nationality
1987            1988  0.10   ชาย    Thailand
6477            6478  0.11  หญิง    Thailand
11497          11498  0.11   ชาย       Burma
1675            1676  0.30   ชาย       Japan
1075            1076  0.40   ชาย    Thailand
...              ...   ...   ...         ...
12405          12406   NaN   NaN         NaN
12406          12407   NaN   NaN         NaN
12407          12408   NaN   NaN         NaN
12408          12409   NaN   NaN         NaN
12409          12410   NaN   NaN         NaN

[12423 rows x 4 columns]

####.merge()

เป็นวิธีที่งายที่สุด ไม่ต้องทำการปรับแต่งอะไรทราบว่าสองตาราง record ตรงกัน

In [18]:
full_table1 = data_human.merge(data_provine)
full_table1.head()

   No.   age   sex nationality announce_date province_of_onset
0    1  61.0  หญิง       China     1/12/2020     กรุงเทพมหานคร
1    2  74.0  หญิง       China     1/17/2020     กรุงเทพมหานคร
2    3  73.0  หญิง    Thailand     1/22/2020            นครปฐม
3    4  68.0   ชาย       China     1/22/2020     กรุงเทพมหานคร
4    5  66.0  หญิง       China     1/24/2020     กรุงเทพมหานคร

สามารถเรียงให้ตรงกันได้แ,hจะทำการสลัลตาราง แค่มีค่าที่ชีกันได้ คือ ```No.```

In [19]:
full_table2 = data_human2.merge(data_provine)
full_table2.head()

     No.   age   sex nationality announce_date province_of_onset
0   1988  0.10   ชาย    Thailand      4/4/2020             ระยอง
1   6478  0.11  หญิง    Thailand    12/30/2020          เพชรบุรี
2  11498  0.11   ชาย       Burma     1/16/2021         สมุทรสาคร
3   1676  0.30   ชาย       Japan      4/1/2020     กรุงเทพมหานคร
4   1076  0.40   ชาย    Thailand     3/27/2020      สุราษฎร์ธานี

ทำการกำหนดค่าที่ตรงกันเพื่อเป็นตัวชี้ว่า ถ้าหาสอง column นี้มีค่าตรงกันในนำตารางของ records นั้นมาต่อ 

*หมายเหตุ* หากใช้ข้อมูลชุดนี้ทำการ `.merge()` แบบข้างบนจะเกิด `error`

In [20]:
full_table3 = data_human2_rename.merge(data_provine,left_on='patientNumber',right_on='No.')
full_table3.head()

   patientNumber   age   sex nationality    No. announce_date province_of_onset
0           1988  0.10   ชาย    Thailand   1988      4/4/2020             ระยอง
1           6478  0.11  หญิง    Thailand   6478    12/30/2020          เพชรบุรี
2          11498  0.11   ชาย       Burma  11498     1/16/2021         สมุทรสาคร
3           1676  0.30   ชาย       Japan   1676      4/1/2020     กรุงเทพมหานคร
4           1076  0.40   ชาย    Thailand   1076     3/27/2020      สุราษฎร์ธานี

####.map()

`.map()` เลือกมาเฉพาะบาง column มาแปะเพิ่มเข้าไป

คุณสมบัติของ pandas ก้คือเราสามารถสร้าง column ใหม่ให้ตาราง df ได้ โดย

`df['ชื่อ column ใหม่] = (list ที่มีจำนวนสมาชิกเท่ากับจำนวน record ของ df)`

In [21]:
data_human2_rename.head() #ตารางหลัก

       patientNumber   age   sex nationality
1987            1988  0.10   ชาย    Thailand
6477            6478  0.11  หญิง    Thailand
11497          11498  0.11   ชาย       Burma
1675            1676  0.30   ชาย       Japan
1075            1076  0.40   ชาย    Thailand

In [22]:
data_covid.head() #ตารางรอง

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

เลือกข้อมูล

`.map()` จะผูกค่า patientNumber กับ No. เข้าด้วยกันแล้ว retrun ค่า risk ออกมา

In [23]:
data_human2_rename['patientNumber'].map(data_covid.set_index('No.')['risk'])

1987     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
6477     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11497                              Cluster สมุทรสาคร
1675     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1075     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
                            ...
12405                              Cluster สมุทรสาคร
12406                              Cluster สมุทรสาคร
12407                              Cluster สมุทรสาคร
12408                              Cluster สมุทรสาคร
12409                              Cluster สมุทรสาคร
Name: patientNumber, Length: 12423, dtype: object

มีชนิดเป็น list

In [24]:
type(data_human2_rename['patientNumber'].map(data_covid.set_index('No.')['risk']))

pandas.core.series.Series

ใ่ส่เข้าไปในตารางหลักแล้วกำหนดชื่อ column


นำสองตารางมารวมโดยเลือกเฉพาะ column ที่ชื่อ risk หากใช้ `.merge()` จะได้ตารางมาทั้งหมดซึ่งเาไม่ต้องการ

In [25]:
data_human2_rename['detail'] = data_human2_rename['patientNumber'].map(data_covid.set_index('No.')['risk'])
data_human2_rename.head()

       patientNumber  ...                                       detail
1987            1988  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
6477            6478  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11497          11498  ...                            Cluster สมุทรสาคร
1675            1676  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1075            1076  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[5 rows x 5 columns]

#HW

HW7 สร้าตารางใหม่ ที่ค่าใน ```sex``` เป็น mising 


1.   สรุปว่าทำไม record นั้นๆถึงเป็น missing

In [26]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [27]:
data_covid_NaN = list()
for i in data_covid.iterrows():
  if i[1]['sex'] != 'ชาย':
    if i[1]['sex'] != 'หญิง':
       data_covid_NaN.append(True)
    else:
      data_covid_NaN.append(False)
  else:
      data_covid_NaN.append(False)
NaN_data_covid_sex = data_covid[data_covid_NaN]
NaN_data_covid_sex

         No. announce_date  ... district_of_onset               risk
4391    4392    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4392    4393    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4393    4394    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4394    4395    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4395    4396    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
...      ...           ...  ...               ...                ...
12405  12406     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12406  12407     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12407  12408     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12408  12409     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12409  12410     1/18/2021  ...               NaN  Cluster สมุทรสาคร

[2497 rows x 10 columns]

In [28]:
data_covid.iloc[:,3].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
12418    False
12419    False
12420    False
12421    False
12422    False
Name: sex, Length: 12423, dtype: bool

In [29]:
data_covid_None = list()
for i in data_covid.iloc[:,3].isnull():
  data_covid_None.append(i)
None_data_covid_sex = data_covid[data_covid_None]
None_data_covid_sex

         No. announce_date  ... district_of_onset               risk
4391    4392    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4392    4393    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4393    4394    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4394    4395    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4395    4396    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
...      ...           ...  ...               ...                ...
12405  12406     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12406  12407     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12407  12408     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12408  12409     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12409  12410     1/18/2021  ...               NaN  Cluster สมุทรสาคร

[2497 rows x 10 columns]

In [30]:
None_data_covid_sex['province_of_isolation'].count()

2497

In [32]:
None_data_covid_sex[None_data_covid_sex['province_of_isolation']=='สมุทรสาคร']['province_of_isolation'].count()

2308

In [34]:
None_data_covid_sex[None_data_covid_sex['announce_date']=='12/20/2020']['announce_date'].count()

516

สาเหตุที่เกิดค่า Mising  อาจเกิดจากข้อมูลที่ติดเชื้อในหนึ่งวันมีปริมาณมาก ทำให้ไม่สามารถเก็บข้อมูลได้ หรือ อาจเกิดจากข้อมูลสูญหายไม่ชัดเจนก่อนนำเอาเข้าสู่ระบบ หรือ เกิดจากผู้ติดเชื้อไม่ได้พำนักอยู่ในประเทศไทยถาวรจึงไม่สามารถไปเก็บข้อมูลหรือแสดงข้อมูลได้