<a href="https://colab.research.google.com/github/Toto17515/Data_viz/blob/main/pre_midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Knowledge

Z - Score

![Z-score-formula.jpg]()

ค่าเฉลี่ยถ่วงน้ำหนัก

![WAM.PNG]()

#Improt

In [5]:
import pandas as pd

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [15]:
data_class = pd.read_csv('/content/drive/MyDrive/Data_Viz/pre - midterm/from class.csv')
data_my_t = pd.read_csv('/content/drive/MyDrive/Data_Viz/pre - midterm/from my t.csv')
data_T = pd.read_csv('/content/drive/MyDrive/Data_Viz/pre - midterm/from  T.csv')

#Data Cleaning

##Missing value

In [10]:
data_class.isnull().sum()

id               1
name             1
class            1
work             0
Unnamed: 4       0
Unnamed: 5       0
Unnamed: 6       0
Unnamed: 7       0
Unnamed: 8       0
in class (5%)    1
dtype: int64

In [13]:
data_class

      id name class  work  ...  Unnamed: 6  Unnamed: 7  Unnamed: 8  in class (5%)
0    NaN  NaN   NaN   1.0  ...         4.0           5  Total (5%)            NaN
1    1.0    a     A   0.0  ...         0.0           0         0.5            3.0
2    2.0    b     A   1.0  ...         1.0           1           4            4.0
3    3.0    c     A   1.0  ...         1.0           1         3.5            4.0
4    4.0    d     A   0.0  ...         0.0           1           3            3.0
5    5.0    e     A   0.0  ...         0.0           1         1.5            3.0
6    6.0    f     B   0.5  ...         0.0           1           3            4.0
7    7.0    g     B   0.0  ...         0.5           1         2.5            5.0
8    8.0    h     B   1.0  ...         1.0           1           5            3.0
9    9.0    i     B   0.0  ...         0.0           1         2.5            3.0
10  10.0    g     B   1.0  ...         1.0           0         3.5            4.0

[11 rows x 10 columns]

In [16]:
data_class_N = data_class.dropna() 
data_class_N

      id name class  work  ...  Unnamed: 6  Unnamed: 7  Unnamed: 8  in class (5%)
1    1.0    a     A   0.0  ...         0.0           0         0.5            3.0
2    2.0    b     A   1.0  ...         1.0           1           4            4.0
3    3.0    c     A   1.0  ...         1.0           1         3.5            4.0
4    4.0    d     A   0.0  ...         0.0           1           3            3.0
5    5.0    e     A   0.0  ...         0.0           1         1.5            3.0
6    6.0    f     B   0.5  ...         0.0           1           3            4.0
7    7.0    g     B   0.0  ...         0.5           1         2.5            5.0
8    8.0    h     B   1.0  ...         1.0           1           5            3.0
9    9.0    i     B   0.0  ...         0.0           1         2.5            3.0
10  10.0    g     B   1.0  ...         1.0           0         3.5            4.0

[10 rows x 10 columns]

In [49]:
data_class_Ne = data_class_N.rename(columns={'work':'work1','Unnamed: 4':'work2','Unnamed: 5':'work3','Unnamed: 6':'work4','Unnamed: 7':'work5','Unnamed: 8':'sum work'})
data_class_Ne['Total'] = float(0)
data_class_Ne

      id name class  work1  work2  ...  work4  work5  sum work in class (5%)  Total
1    1.0    a     A    0.0    0.5  ...    0.0      0       0.5           3.0    0.0
2    2.0    b     A    1.0    0.0  ...    1.0      1         4           4.0    0.0
3    3.0    c     A    1.0    0.0  ...    1.0      1       3.5           4.0    0.0
4    4.0    d     A    0.0    1.0  ...    0.0      1         3           3.0    0.0
5    5.0    e     A    0.0    0.5  ...    0.0      1       1.5           3.0    0.0
6    6.0    f     B    0.5    1.0  ...    0.0      1         3           4.0    0.0
7    7.0    g     B    0.0    1.0  ...    0.5      1       2.5           5.0    0.0
8    8.0    h     B    1.0    1.0  ...    1.0      1         5           3.0    0.0
9    9.0    i     B    0.0    1.0  ...    0.0      1       2.5           3.0    0.0
10  10.0    g     B    1.0    0.5  ...    1.0      0       3.5           4.0    0.0

[10 rows x 11 columns]

In [52]:
for i in data_class_Ne.iterrows():
    i['Total'][1] = float(i[1]['sum work']) + float(i[1]['in class (5%)'])

TypeError: ignored

In [51]:
data_class_Ne

      id name class  work1  work2  ...  work4  work5  sum work in class (5%)  Total
1    1.0    a     A    0.0    0.5  ...    0.0      0       0.5           3.0    0.0
2    2.0    b     A    1.0    0.0  ...    1.0      1         4           4.0    0.0
3    3.0    c     A    1.0    0.0  ...    1.0      1       3.5           4.0    0.0
4    4.0    d     A    0.0    1.0  ...    0.0      1         3           3.0    0.0
5    5.0    e     A    0.0    0.5  ...    0.0      1       1.5           3.0    0.0
6    6.0    f     B    0.5    1.0  ...    0.0      1         3           4.0    0.0
7    7.0    g     B    0.0    1.0  ...    0.5      1       2.5           5.0    0.0
8    8.0    h     B    1.0    1.0  ...    1.0      1         5           3.0    0.0
9    9.0    i     B    0.0    1.0  ...    0.0      1       2.5           3.0    0.0
10  10.0    g     B    1.0    0.5  ...    1.0      0       3.5           4.0    0.0

[10 rows x 11 columns]

In [11]:
data_my_t.isnull().sum()

id                0
name              0
class             0
A(10)             0
B(5)              0
C(10)             0
D(10)             0
E(5)              0
F(10)             0
G(10)             0
H(10)             0
Total(70)(60%)    0
dtype: int64

In [12]:
data_T.isnull().sum()

id                0
name              0
T                 0
class             0
A(10)             0
B(5)              0
C(10)             0
D(10)             0
E(5)              0
F(10)             0
G(10)             0
H(10)             0
Total(70)(60%)    0
dtype: int64

In [ ]:
std()