<a href="https://colab.research.google.com/github/Toto17515/Data_viz/blob/main/Quiz5(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#import

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [86]:
import pandas as pd
from datetime import date,datetime,time

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Data_Viz/search_request.csv')
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88

[5 rows x 10 columns]

#Data Cleaning

In [4]:
df.head()

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88

[5 rows x 10 columns]

In [5]:
df['search_timestamp_datetime'] = pd.to_datetime(df['search_timestamp'],format ='%Y/%m/%d %H:%M:%S.%f', errors='coerce')
df.head()

   Unnamed: 0  ... search_timestamp_datetime
0           0  ...   2018-06-14 12:34:35.449
1           1  ...   2018-06-14 17:11:19.469
2           2  ...   2018-06-14 13:22:31.736
3           3  ...   2018-06-02 12:37:27.331
4           4  ...   2018-06-02 11:19:22.404

[5 rows x 11 columns]

In [6]:
df.iloc[0,-1]

Timestamp('2018-06-14 12:34:35.449000')

In [7]:
df.iloc[0,-1].day

14

In [8]:
df.iloc[0,-1].month

6

In [9]:
df.iloc[0,-1].year

2018

In [65]:
df.iloc[0,-1].hour

12

In [11]:
df.iloc[0,-1].minute

34

In [12]:
df.iloc[0,-1].second

35

In [13]:
df[df['search_timestamp_datetime']<= '11:59:59.000'].head()

   Unnamed: 0  ... search_timestamp_datetime
0           0  ...   2018-06-14 12:34:35.449
1           1  ...   2018-06-14 17:11:19.469
2           2  ...   2018-06-14 13:22:31.736
3           3  ...   2018-06-02 12:37:27.331
4           4  ...   2018-06-02 11:19:22.404

[5 rows x 11 columns]

#Analyze

เปรียบเทียบจำนวน requests ของช่วงเวลา 11.00-11.59 กับ 23.00-23.59
เปรียบเทียบจำนวน requests ของวันจันทร์-พฤหัส กับ ศุกร์-อาทิตย์

##เวลา

เปรียบเทียบ requests ของเวลา

In [99]:
x = df[df['search_timestamp_datetime'].dt.time < time(hour = 12)]
X = x[x['search_timestamp_datetime'].dt.time >= time(hour = 11)]
a = X['Unnamed: 0'].count()
a

738397

In [106]:
Y = df[df['search_timestamp_datetime'].dt.time >= time(hour = 23)]
b = Y['Unnamed: 0'].count()
b

278510

In [107]:
if a > b:
  print(f"จำนวน requests ของช่วงเวลา 11.00-11.59 มากกว่า 23.00-23.59")
elif a < b:
  print(f"จำนวน requests ของช่วงเวลา 11.00-11.59 น้อยกว่า 23.00-23.59")
else:
  print(f"จำนวน requests ของช่วงเวลา 11.00-11.59 เท่ากับ 23.00-23.59")

จำนวน requests ของช่วงเวลา 11.00-11.59 มากกว่า 23.00-23.59

##วัน


เปรียบเทียบ requests ของวันของ วันจันทร์-พฤหัส กับ ศุกร์-อาทิตย์

In [52]:
n = df[df['search_timestamp_datetime'].dt.dayofweek <= 3]['Unnamed: 0'].count()
m = df[df['search_timestamp_datetime'].dt.dayofweek >= 4]['Unnamed: 0'].count()

In [56]:
if n > m:
  print(f"จำนวน requests ของวันจันทร์-พฤหัส มากกว่า วันศุกร์-อาทิตย์")
elif n < m:
  print(f"จำนวน requests ของวันจันทร์-พฤหัส น้อยกว่า วันศุกร์-อาทิตย์")
else:
  print(f"จำนวน requests ของวันจันทร์-พฤหัส เท่ากับ วันศุกร์-อาทิตย์")

จำนวน requests ของวันจันทร์-พฤหัส น้อยกว่า วันศุกร์-อาทิตย์