<a href="https://colab.research.google.com/github/Toto17515/Data_viz/blob/main/Quiz2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd

In [14]:
df = pd.read_csv('/content/drive/MyDrive/Data_Viz/t.csv')
df

UnicodeDecodeError: ignored

#เฉลย

In [30]:
df = pd.read_csv('/content/drive/MyDrive/Data_Viz/t.csv', encoding='iso-8859-11',header=3 )#encoding='utf-8'
df.iloc[:10,:]

          ภาค และจังหวัด Unnamed: 1  ... Unnamed: 65 Unnamed: 66
0                    NaN        NaN  ...         NaN         NaN
1                    NaN        NaN  ...         NaN         NaN
2       ทั่วราชอาณาจักร         NaN  ...         NaN         NaN
3              ตอนพิเศษ         NaN  ...         NaN         NaN
4         กรุงเทพมหานคร         NaN  ...         NaN         NaN
5           สมุทรปราการ         NaN  ...         NaN         NaN
6               นนทบุรี         NaN  ...         NaN         NaN
7              ปทุมธานี         NaN  ...         NaN         NaN
8               ภาคกลาง         NaN  ...         NaN         NaN
9       พระนครศรีอยุธยา         NaN  ...         NaN         NaN

[10 rows x 67 columns]

In [35]:
df.head(10).dropna(subset=['ภาค และจังหวัด']).iloc[:,:13]

          ภาค และจังหวัด Unnamed: 1  ...      2558             Region and province
2       ทั่วราชอาณาจักร         NaN  ...   26,915                   Whole Kingdom
3              ตอนพิเศษ         NaN  ...   41,002                 Greater Bangkok
4         กรุงเทพมหานคร         NaN  ...   45,572                         Bangkok
5           สมุทรปราการ         NaN  ...   25,457                    Samut Prakan
6               นนทบุรี         NaN  ...   36,884                      Nonthaburi
7              ปทุมธานี         NaN  ...   41,057                    Pathum Thani
8               ภาคกลาง         NaN  ...   26,601                  Central Region
9       พระนครศรีอยุธยา         NaN  ...   28,379        Phra Nakhon Si Ayutthaya

[8 rows x 13 columns]

In [36]:
df.head(10).dropna(subset=['ภาค และจังหวัด']).iloc[:,:13].dropna(axis=1)

          ภาค และจังหวัด      2541  ...      2558             Region and province
2       ทั่วราชอาณาจักร    12,492   ...   26,915                   Whole Kingdom
3              ตอนพิเศษ    24,929   ...   41,002                 Greater Bangkok
4         กรุงเทพมหานคร    26,054   ...   45,572                         Bangkok
5           สมุทรปราการ    18,100   ...   25,457                    Samut Prakan
6               นนทบุรี    24,211   ...   36,884                      Nonthaburi
7              ปทุมธานี    21,793   ...   41,057                    Pathum Thani
8               ภาคกลาง    12,643   ...   26,601                  Central Region
9       พระนครศรีอยุธยา    12,918   ...   28,379        Phra Nakhon Si Ayutthaya

[8 rows x 12 columns]

In [40]:
df[df['ภาค และจังหวัด']=='บึงกาฬ']

Empty DataFrame
Columns: [ภาค และจังหวัด, Unnamed: 1, 2541, 2543, 2545, 2547, 2549, 2550, 2552, 2554, 2556, 2558, Region and province, Unnamed: 13, Unnamed: 14, Unnamed: 15, Unnamed: 16, Unnamed: 17, Unnamed: 18, Unnamed: 19, Unnamed: 20, Unnamed: 21, Unnamed: 22, Unnamed: 23, Unnamed: 24, Unnamed: 25, Unnamed: 26, Unnamed: 27, Unnamed: 28, Unnamed: 29, Unnamed: 30, Unnamed: 31, Unnamed: 32, Unnamed: 33, Unnamed: 34, Unnamed: 35, Unnamed: 36, Unnamed: 37, Unnamed: 38, Unnamed: 39, Unnamed: 40, Unnamed: 41, Unnamed: 42, Unnamed: 43, Unnamed: 44, Unnamed: 45, Unnamed: 46, Unnamed: 47, Unnamed: 48, Unnamed: 49, Unnamed: 50, Unnamed: 51, Unnamed: 52, Unnamed: 53, Unnamed: 54, Unnamed: 55, Unnamed: 56, Unnamed: 57, Unnamed: 58, Unnamed: 59, Unnamed: 60, Unnamed: 61, Unnamed: 62, Unnamed: 63, Unnamed: 64, Unnamed: 65, Unnamed: 66]
Index: []

In [46]:
df.iloc[58,:]

ภาค และจังหวัด         บึงกาฬ
Unnamed: 1                 NaN
2541                       NaN
2543                       NaN
2545                       NaN
                      ...
Unnamed: 62                NaN
Unnamed: 63                NaN
Unnamed: 64                NaN
Unnamed: 65                NaN
Unnamed: 66                NaN
Name: 58, Length: 67, dtype: object

In [ ]:
df1 = df

In [ ]:
df.head(10).dropna(subset=['ภาค และจังหวัด']).iloc[:,:13].dropna(axis=1)

In [28]:
data = pd.read_excel('/content/3.-41-58.xls')
data

   รายได้เฉลี่ยต่อเดือนต่อครัวเรือน จำแนกตามภาค และจังหวัด พ.ศ. 2541 - 2558  ...          Unnamed: 12
0   Average Monthly Income Per Household: 1998 - 2015                        ...                  NaN
1                                                 NaN                        ...         บาท   Baht
2                                      ภาค และจังหวัด                        ...  Region and province
3                                                 NaN                        ...                  NaN
4                                                 NaN                        ...                  NaN
..                                                ...                        ...                  ...
87                                           นราธิวาส                        ...           Narathiwat
88                                                NaN                        ...                  NaN
89                                                NaN                        ...                  NaN
90                                             ที่มา:                        ...                  NaN
91                                            Source:                        ...                  NaN

[92 rows x 13 columns]